[package]
name = "stratum-server"
version = "3.0.0"
authors = ["Sean Kilgarriff sean@urkel.com"]
rust-version = "1.59"
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "The server code for the Rust Stratum implementation"
repository = "https://github.com/OpenPoolProject/stratum"

[features]
default = ["tcp"]
tcp = []
websockets = ["async-tungstenite"]

[dependencies]

# Futures
async-std = { version = "1.11", features = ["attributes", "unstable"] }
async-trait = "0.1.53"
futures = "0.3.21"
stop-token = "0.7.0"
# @todo probably kill this since we don't need it for the metrics, but leaving it in for now.
# tide = = { version = "0.16", }

# Serialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.50"
extended-primitives = {version = "0.3.4"}
encodings = "0.1.0"

# Metrics
# metrics = { version="0.13.0-alpha.8" }
# metrics-exporter-prometheus = "0.1.0-alpha.5"

# Misc
uuid = { version = "1.0.0", features = ["serde", "v4"] }
log = "0.4"
time = "0.3.9"
signal-hook = "0.3.14"
signal-hook-async-std = "0.2.2"
bit-set = "0.5.2"

# Optional
async-tungstenite = { version="0.17.2", features=["async-std-runtime", "async-native-tls"], optional=true}

[dev-dependencies]
portpicker = "0.1.0"
nix = "0.24"

# Allocator 
# jemallocator = "0.5.3"

env_logger = "0.9.0"

[package.metadata.release]
tag = false
sign-commit = false
pre-release-commit-message = "chore(server): release {{ version }}"
