on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

name: Release (Please) Generator
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@a6d1fd9854c8c40688a72f7e4b072a1e965860a0 # v4
        with:
          release-type: simple
