on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

name: Release (Please) Generator
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3
        with:
          release-type: simple
